.main {
  height: 100vh;
  margin-top: 60px;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #F0E9DF;
  background-image: url('../../assets/images/m_services.png');
  background-repeat: no-repeat;
  background-size: cover;
  h1 {
    margin: 0;
    margin-top: 18.4vw;
    line-height: 12vw;
    font-size: 10.6vw;
    text-align: center;
    font-family: 'Playfair Display Bold';
  }
  .banner {
    margin-top: 26.3vw;
    .service {
      &__wrapper {
        position: relative;
        padding-top: 12.7vw;
        &::before {
          content: '';
          position: absolute;
          top: 5px;
          left: calc(50% + 3px);
          z-index: 10;
          width: 6.9vw;
          height: 6.9vw;
          border-radius: 50%;
          transform: translateX(-50%);
          background-color: #F94F1E;
        }
        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: calc(50% - 3px);
          width: 6.9vw;
          height: 6.9vw;
          border-radius: 50%;
          transform: translateX(-50%);
          background-color: #0C0D0E;
        }
        .title {
          margin-bottom: 10px;
          line-height: 5.68vw;
          font-weight: 900;
          font-size: 4.26vw;
          text-align: center;
          font-family: 'Playfair Display Bold';
        }
        .content {
          margin: 0 10.6vw;
          line-height: 5.3vw;
          font-size: 3.5vw;
          text-align: center;
          color: rgba(0, 0, 0, 0.4);
        }
      }
    }
  }
}